<footer class="mb-5">
    <div class="container-fluid px-sm-5 pt-5">
        <div class="icons">
            <a href="" class="facebook iconic m-2"></a>
            <a href="" class="twitter iconic m-2"></a>
            <a href="" class="linkedin iconic m-2"></a>
            <a href="" class="instagram iconic m-2"></a>
        </div>
        <hr class="line">
        <div class="row pb-3">
            <div class="col d-sm-flex me-auto">
                <p class="pe-3"><a href="/waitlist" class="footer-link">Waitlist</a></p>
                <p class="px-sm-3"><a href="" class="footer-link">Cookie Policy</a></p>
                <p class="px-sm-3"><a href="/faq" class="footer-link">FAQ</a></p>
                <p class="px-sm-3"><a href="/support" class="footer-link">Support</a></p>
            </div>
            <div class="col-md-4 col-12">
                <hr class="line d-sm-none">
                <p>Copyright © 2023 ShopMore Express Limited. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<script>
    AOS.init();
  </script>

  <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/139651664.js"></script>
<!-- End of HubSpot Embed Code -->