<nav class="navbar navbar-custom navbar-expand-lg fixed-top">
    <div class="container-fluid px-sm-5 px-3">
      <a class="navbar-brand px-sm-5 w-sm-50 me-sm-5" href="/">
        <img src="/assets/images/SHOP MORE LOGO HORIZONTAL.png" alt="logo" class="nav_logo nav-img">
      </a>
      <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" >
        <div class="offcanvas-body ms-lg-auto">
          <ul class="navbar-nav flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link mx-4 float-start my-lg-0" aria-current="page" href="/">Home</a>
              <button type="button" class="btn-close float-end d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close" ></button>
            </li>
            <hr style="color: rgb(255, 183, 3); border-width: 2px;" class="m-1">
            <li class="nav-item ">
              <a class="nav-link mx-4 my-lg-0  " href="#" aria-current="page">About Us</a>
            </li>
            <hr style="color: rgb(255, 183, 3); border-width: 2px;" class="m-1">
            <li class="nav-item">
              <a class="nav-link mx-4 my-lg-0" href="waitlist">Waitlist</a>
            </li>
            <hr style="color: rgb(255, 183, 3); border-width: 2px;" class="m-1">
            <li class="nav-item">
              <a class="nav-link mx-4  my-lg-0" href="/faq">FAQ</a>
            </li>
            <hr style="color: rgb(255, 183, 3); border-width: 2px;" class="m-1">
            <li class="nav-item">
              <a class="nav-link mx-4 my-lg-0" href="/support">Support</a>
            </li>
            <hr style="color: rgb(255, 183, 3); border-width: 2px;" class="m-1">
            <div class="d-lg-none mt-2 contact">
              <li class="nav-item py-2">
                <div class="d-flex">
                  <h1 class="primcol pe-3 pt-2" style="font-size: 30px;"><i class="bi bi-telephone"></i></h1>
                  <div class="text-light">
                    <p class="mb-0 fs-6 fw-light " ><a href="tel:+2347062107806" style="text-decoration: none;" class="text-light">+2347062107806</a></p>
                    <p class="fs-6 fw-light" style="text-decoration: none;"><a href="tel:+2347063988235" style="text-decoration: none;" class="text-light">+2347063988235</a></p>
                  </div>
                </div>
              </li>
              <li class="nav-item py-2">
                <div class="d-flex">
                  <h1 class="primcol pe-3 pt-2" style="font-size: 30px;"><i class="bi bi-envelope-at"></i></h1>
                  <div class="text-light">
                    <p class="mb-0 fw-small fw-light ">SEND EMAIL</p>
                    <p class="fs-6 "><a href="mailto:mail@shopmoreexpress.com?subject=Support%20Email" style="text-decoration: none;" class="text-light">mail@shopmoreexpress.com</a></p>
                  </div>
                </div>
              </li>
              <li class="nav-item py-2">
                <div class="d-flex">
                  <h1 class="primcol pe-3 pt-2" style="font-size: 30px;"><i class="bi bi-house"></i></h1>
                  <div class="text-light">
                    <p class="fs-6 fw-light fw-small lh-1">Block A2-9, Suite 294, Sura Shopping Complex, Simpson Street, Lagos Island, Lagos, Nigeria</p>
                  </div>
                </div>
              </li>
              
            </div>

          </ul>
        </div>
        <div class="icons d-lg-none my-3 ps-4">
          <p class="text-light fw-light fw-small">FOLLOW US</p>
          <a href="" class="facebook iconic m-2"></a>
          <a href="" class="twitter iconic m-2"></a>
          <a href="" class="linkedin iconic m-2"></a>
          <a href="" class="instagram iconic m-2"></a>
        </div>
      </div>
    </div>
  </nav>