<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop More Express - FAQs</title>
    <%- include('partials/head-links') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <section class="my-5 pt-5 container-fluid">
        <header class="pt-sm-5 text-center">
            <h1 class=" my-md-5 my-5 fw-bold bigger5">Frequently Asked Questions</h1>
            <div class="dropdown-center">
                <button class="btn dropdown-toggle text-light px-4 py-2 fs-5 fw-semibold" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #032c63;">
                  Jump To 
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="#commonQuestions">Common Questions</a></li>
                  <li><a class="dropdown-item" href="#HowToUse">How to Use Shopmore</a></li>
                  <li><a class="dropdown-item" href="#commonIssues">Common Issues</a></li>
                </ul>
              </div>
        </header>
        <div class="container-fluid p-md-5 px-2 py-2 my-5">
            <div class="mt-5 container-fluid px-md-5" id="commonQuestions">
                <h2 class="fw-bold primcol mb-4">Common Questions</h2>
                <div class="accordion accordion-flush " id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Question #1
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Answer #1</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                          Question #2
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Answer #2</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                          Question #3
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Answer #3</div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="mt-5 container-fluid px-md-5 pt-5" id="HowToUse">
                <h2 class="fw-bold primcol mb-4 pt-5">How to Use Shop More Express</h2>
                <div class="accordion accordion-flush " id="accordionFlushExample1">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                          Question #1
                        </button>
                      </h2>
                      <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample1">
                        <div class="accordion-body">Answer #1</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                          Question #2
                        </button>
                      </h2>
                      <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample1">
                        <div class="accordion-body">Answer #2</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                          Question #3
                        </button>
                      </h2>
                      <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample1">
                        <div class="accordion-body">Answer #3</div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="mt-5 container-fluid px-md-5 pt-5" id="commonIssues">
                <h2 class="fw-bold primcol mb-4">Common Issues</h2>
                <div class="accordion accordion-flush " id="accordionFlushExample2">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                          Question #1
                        </button>
                      </h2>
                      <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                        <div class="accordion-body">Answer #1</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse8" aria-expanded="false" aria-controls="flush-collapse8">
                          Question #2
                        </button>
                      </h2>
                      <div id="flush-collapse8" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                        <div class="accordion-body">Answer #2</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse10" aria-expanded="false" aria-controls="flush-collapse10">
                          Question #3
                        </button>
                      </h2>
                      <div id="flush-collapse10" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">
                        <div class="accordion-body">Answer #3</div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>
    <%- include('partials/button') %>
    <%- include('partials/footer') %>
</head>
<body>
    
</body>
</html>