<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop More Express - Ready As The Wing</title>
    <meta name="description" content="Shop More Express, We are ready as the wing.Let us help you deliver!">
    <%- include('partials/head-links') %>
</head>
<body ontouchstart="">
    <%- include('partials/navbar') %>
    <section class="container-fluid  px-0 mt-5 pt-4">
        <div class="container-fluid intro pt-4 text-center">
           <h1 class="text-light bigger  py-5 mt-5" data-aos="fade-down" data-aos-duration="2000">Getting a <span class="primcol">rider</span> just became <span class="primcol">easier</span></h1>
           <p class="fs-1 fw-bold text-warning mb-0" data-aos="fade-down" data-aos-duration="1500">We are nearby.</p>
           <p class="fw-small2 text-light fw-light mt-0" data-aos="fade-down" data-aos-duration="2500">Lagos, Abuja, Port-Harcourt, Enugu.</p>
           <a href="/waitlist" class="btn btn-lg btn-warning seccol fw-bold fs-4 mt-5 animate" data-aos="fade-down" data-aos-duration="2500">Book a Ride</a>
        </div>

        <div class="container-fluid my-5 p-sm-5 px-3 pb-sm-5 pb-3">
            <div class="row g-4 gx-sm-5 container-fluid mx-0 my-5 overflow-hidden">
                <div class="col-lg-6 pt-xl-5" >
                    <h1 class="quote-txt primcol pt-sm-4">Trust Built on Swift Delivery and Customer First Service</h1>
                </div>
                <div class="col-lg-6" >
                    <img src="/assets/images/Sm 17.jpg" alt="" class="img-fluid quote-img">
                </div>
            </div>
        </div>

        <div class="my-5 p-lg-5 pt-3 pb-5 deliver">
            <h1 class="fw-bold mt-5 p-3">Everything you need for the <span class="primcol">best</span> Logistics Experience</h1>

            <div class="row g-4 gx-sm-5 container-fluid mx-0 my-1 pb-5">
                <div class="col-6 col-md " data-aos="fade-up" data-aos-duration="1000">
                    <div class="card design">
                        <div class="card-body">
                            <h1 class="card-title  my-3"><i class="bi bi-door-open-fill"></i></h1>
                            <p class="lh-1">Door to door delivery</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md" data-aos="fade-up" data-aos-duration="1500">
                    <div class="card design">
                        <div class="card-body">
                            <h1 class="card-title my-3"><i class="bi bi-cash-coin"></i></h1>
                            <p class="lh-1">Affordable rates</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md" data-aos="fade-up" data-aos-duration="2000">
                    <div class="card design">
                        <div class="card-body">
                            <h1 class="card-title my-3"><i class="bi bi-headset"></i></h1>
                            <p class="lh-1">Friendly customer service</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md " data-aos="fade-up" data-aos-duration="2500">
                    <div class="card design">
                        <div class="card-body">
                            <h1 class="card-title my-3"><i class="bi bi-geo-alt-fill"></i></h1>
                            <p class="lh-1">Live tracking on all deliveries</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="container-fluid my-5 p-lg-5 pt-sm-3 px-3 pb-5 ">
            <div class="row g-4 gx-sm-5 container-fluid mx-0 my-5 overflow-hidden">
                <div class="col-lg-6 order-2 order-lg-1" data-aos="fade-right" data-aos-duration="1500">
                    <img src="/assets/images/IMG_1803.JPG" alt="" class="img-fluid quote-img">
                </div>
                <div class="col-lg-6 order-1 order-lg-2 mt-lg-5 my-3 pt-lg-3 pt-xl-5" data-aos="fade-left" data-aos-duration="1500">
                    <p class="fs-1 fw-bold primcol lh-1 mb-2">The weather got nothing on us</p>
                    <p class="fs-4 mb-3">We deliver regardless</p>
                    <a href="/waitlist" class="btn btn-lg btn-warning seccol fw-bold fs-4 mt-3 animate">Deliver your Package</a>
                </div>
            </div>
        </div>

        <div class="gradient text-center container-fluid my-sm-3 my-2 p-5">
            <p class="fw-semibold fs-2">Try Us And See how Good Our Services Are</p>
            <p class="fs-3">Let us Handle your <span class="primcol fw-bold" id="type"></span></p>
        </div>

        <div class="container-fluid my-5 pt-5 px-3 pb-5">
            <h1 class="fw-bold px-md-5 px-4 primcol bigger bigger1">We Deliver Everything</h1>
            <p class="fs-5 px-4 px-md-5">If it fits, We'll handle it</p>

            <div class="row gx-sm-5 container-fluid mx-0 my-sm-5 mt-5 mb-2 pt-4">
                <div class="col my-10" data-aos="fade-up" data-aos-duration="1000">
                    <div class="card design2 mx-auto text-center">
                        <div class="card-body position-relative">
                            <div class="img-top1 position-absolute top-0 start-50 translate-middle">
                                <img src="/assets/images/food.PNG" alt="" class="img-fluid size">
                            </div>
                            <p class="fs-4 lh-1 fw-semibold mt-4">Food and Drinks</p>
                            <p class="lh-1 fw-medium">Hungry? Let's help you <span class="primcol fw-bold">pickup</span> your food</p>
                            <a href="/waitlist" class="btn btn-warning seccol fw-semibold mt-3 animate">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col my-10" data-aos="fade-up" data-aos-duration="1500">
                    <div class="card design2 mx-auto text-center" >
                        <div class="card-body position-relative">
                            <div class="img-top2 position-absolute top-0 start-50 translate-middle">
                                <img src="/assets/images/parcel-removebg-preview.png" alt="" class="img-fluid size">
                            </div>
                            <p class="fs-4 lh-1 fw-semibold mt-4">Parcels</p>
                            <p class="lh-1 fw-medium">We make your <span class="primcol fw-bold">deliveries</span> easier and faster</p>
                            <a href="/waitlist" class="btn btn-warning seccol fw-semibold mt-3 animate">Deliver your Package</a>
                        </div>
                    </div>
                </div>
                <div class="col my-10 reduce" data-aos="fade-up" data-aos-duration="1500">
                    <div class="card design2  mx-auto text-center">
                        <div class="card-body position-relative">
                            <div class="img-top3 position-absolute top-0 start-50 translate-middle">
                                <img src="/assets/images/grocery-removebg-preview.png" alt="" class="img-fluid size" style="scale: 1.3;">
                            </div>
                            <p class="fs-4 lh-1 fw-semibold mt-4">Groceries</p>
                            <p class="lh-1 fw-medium">Let's help with your <span class="primcol fw-bold">errands</span></p>
                            <a href="/waitlist" class="btn btn-warning seccol fw-semibold mt-4 animate">Book a Ride</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid p-sm-5 pt-5 px-3 mt-5">
            <div class="row g-5 p-lg-5 mx-xl-5 mt-5 pt-5 container-fluid mx-0">
                <div class="col-md-3 col-6 align-middle my-auto px-0 px-md-3">
                    <img src="/assets/images/founder pic.JPG" alt="" class="img-fluid founder-img">
                </div>
                <div class="col-md-9 col-12 ps-lg-5 px-0 px-md-3">
                    <p class="fw-bold founder-quote">Shopmore is not just a business, it is a vision that comes with passion.
                        ShopmoreExpress comes as a solution to the unprecedented crisis in the industry, where customers demands are not reached and met. We are operating solely to solve problems for our customers by providing conducive environments, where trust and accountability is essential and in place. We have so far managed to ensure that our client's items get to their destinations safely and in time. It's also important to note that we are government compliance and approved.
                    </p>
                    <p class="mb-0 fw-bold fs-4 primcol">Dr. Ben Ugwu </p>
                    <p class="fw-small">(Founder, Shopmore Express)</p>
                </div>
            </div>
        </div>
        <div class="app container-fluid mt-5">
            <div class="row " style="background-color: rgb(2, 17, 37);">
                <div class="col-lg-6 col-12 pt-xl-5 pt-lg-4 py-5 py-lg-0">
                    <h1 class="fw-semibold primcol pt-lg-5 px-lg-5">Make Deliveries, Run Errands, Pickups and Dropoffs on just One App</h1>
                    <p class="px-lg-5">The ShopMore App is coming soon....</p>
                    <a href="/waitlist" class="btn btn-warning seccol fw-semibold mx-lg-5 mt-3 animate">Learn More</a>
                </div>
                <div class="col-lg-6 col-12 p-0 m-0 img-gradient">
                    <img src="/assets/images/Sm 15.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
       
    </section>
    <%- include('partials/footer') %>
</body>

<script>
    var options = {
    strings: ['Deliveries', 'Errands', 'Dropoffs', 'Pickups'],
    typeSpeed: 100,
    backSpeed: 100,
    backDelay: 800,
    loop: true,
    loopCount: Infinity,
    showCursor: false
    };

    var typed = new Typed('#type', options);
</script>
</html>