<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop More Express - Ready As The Wind</title>
    <%- include('partials/head-links') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <section class="container-fluid  px-0 mt-5 pt-4">
        <div class="container-fluid intro pt-4 text-center">
           <h1 class="text-light bigger  py-5 mt-5">Getting a <span class="primcol">rider</span> just became <span class="primcol">easier</span></h1>
           <p class="fs-1 fw-bold text-warning mb-0">We are nearby.</p>
           <p class="fs-3 text-light fw-bold mt-0">Lagos, Abuja, Port-Harcourt.</p>
           <a href="/waitlist" class="btn btn-lg btn-warning seccol fw-bold fs-4 mt-5">Order Now</a>
        </div>

        <div class="container-fluid my-5 p-sm-5 px-3 pb-sm-5 pb-3">
            <div class="row g-4 gx-sm-5 container-fluid mx-0 my-5">
                <div class="col-lg-6 pt-xl-5">
                    <h1 class="quote-txt primcol pt-sm-4">Trust Built on Swift Delivery and Customer First Service</h1>
                </div>
                <div class="col-lg-6">
                    <img src="/assets/images/Sm 17.jpg" alt="" class="img-fluid quote-img">
                </div>
            </div>
        </div>

        <div class="my-5 p-lg-5 pt-sm-3 pb-5 deliver">
            <h1 class="fw-bold mt-5 p-3">Everything you need for the <span class="primcol">best</span> Logistics Experience</h1>

            <div class="row g-4 gx-sm-5 container-fluid mx-0 my-1 pb-5">
                <div class="col-6 col-md">
                    <div class="card design">
                        <div class="card-body">
                            <h1 class="card-title  my-3"><i class="bi bi-door-open-fill"></i></h1>
                            <p class="lh-1">Door to door delivery</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md">
                    <div class="card design">
                        <div class="card-body">
                            <h1 class="card-title my-3"><i class="bi bi-cash-coin"></i></h1>
                            <p class="lh-1">Affordable rates</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md">
                    <div class="card design">
                        <div class="card-body">
                            <h1 class="card-title my-3"><i class="bi bi-headset"></i></h1>
                            <p class="lh-1">Friendly customer service</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md">
                    <div class="card design">
                        <div class="card-body">
                            <h1 class="card-title my-3"><i class="bi bi-geo-alt-fill"></i></h1>
                            <p class="lh-1">Live tracking on all deliveries</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="container-fluid my-5 p-lg-5 pt-sm-3 px-3 pb-5 ">
            <div class="row g-4 gx-sm-5 container-fluid mx-0 my-5">
                <div class="col-lg-6 order-2 order-lg-1">
                    <img src="/assets/images/IMG_1803.JPG" alt="" class="img-fluid quote-img">
                </div>
                <div class="col-lg-6 order-1 order-lg-2 mt-lg-5 my-3 pt-lg-3 pt-xl-5">
                    <p class="fs-1 fw-bold primcol lh-1 mb-2">The weather got nothing on us</p>
                    <p class="fs-4 mb-3">We deliver regardless</p>
                    <a href="/waitlist" class="btn btn-lg btn-warning seccol fw-bold fs-4 mt-3">Order Now</a>
                </div>
            </div>
        </div>

        <div class="gradient text-center container-fluid my-sm-3 my-2 p-5">
            <p class="fw-semibold fs-2">Try Us And See how Good Our Services Are</p>
            <p class="fs-3">Let us Handle your <span class="primcol fw-bold" id="type"></span></p>
        </div>

        <div class="container-fluid my-5 pt-5 px-3 pb-5">
            <h1 class="fw-bold px-md-5 px-4 primcol bigger bigger1">We Deliver Everything</h1>
            <p class="fs-5 px-4 px-md-5">If it fits, We'll handle it</p>

            <div class="row gx-sm-5 container-fluid mx-0 my-sm-5 mt-5 mb-2 pt-4">
                <div class="col my-10">
                    <div class="card design2 mx-auto text-center">
                        <div class="card-body position-relative">
                            <div class="img-top1 position-absolute top-0 start-50 translate-middle">
                                <img src="/assets/images/food.PNG" alt="" class="img-fluid size">
                            </div>
                            <p class="fs-4 lh-1 fw-semibold mt-4">Food and Drinks</p>
                            <p class="lh-1 fw-medium">Hungry? Let's help you <span class="primcol fw-bold">pickup</span> your food</p>
                            <a href="/waitlist" class="btn btn-warning seccol fw-semibold mt-3 increase">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col my-10">
                    <div class="card design2 mx-auto text-center">
                        <div class="card-body position-relative">
                            <div class="img-top2 position-absolute top-0 start-50 translate-middle">
                                <img src="/assets/images/parcel-removebg-preview.png" alt="" class="img-fluid size">
                            </div>
                            <p class="fs-4 lh-1 fw-semibold mt-4">Parcels</p>
                            <p class="lh-1 fw-medium">We make your <span class="primcol fw-bold">deliveries</span> easier and faster</p>
                            <a href="/waitlist" class="btn btn-warning seccol fw-semibold mt-3 increase">Let's help you deliver</a>
                        </div>
                    </div>
                </div>
                <div class="col my-10 reduce">
                    <div class="card design2  mx-auto text-center">
                        <div class="card-body position-relative">
                            <div class="img-top3 position-absolute top-0 start-50 translate-middle">
                                <img src="/assets/images/grocery-removebg-preview.png" alt="" class="img-fluid size" style="scale: 1.3;">
                            </div>
                            <p class="fs-4 lh-1 fw-semibold mt-4">Groceries</p>
                            <p class="lh-1 fw-medium">Let's help with your <span class="primcol fw-bold">errands</span></p>
                            <a href="/waitlist" class="btn btn-warning seccol fw-semibold mt-4 increase">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="app container-fluid mt-5">
            <div class="row">
                <div class="col-lg-6 pt-xl-5 pt-lg-4 my-5 my-lg-0">
                    <h1 class="fw-semibold primcol pt-lg-5 px-lg-5">Make Deliveries, Run Errands, Pickups and Dropoffs on just One App</h1>
                    <p class=" px-lg-5">The ShopMore App is coming soon....</p>
                    <a href="/waitlist" class="btn btn-warning seccol fw-semibold mx-lg-5 mt-3 increase ">Learn More</a>
                </div>
                <div class="col-lg-6 p-0 m-0 img-gradient2">
                    <img src="/assets/images/Sm 15.jpg" alt="" class="img-fluid">
                </div>
            </div>
        
        </div>
    </section>
    <%- include('partials/footer') %>
</body>

<script>
    var options = {
    strings: ['Deliveries', 'Errands', 'Dropoffs', 'Pickups'],
    typeSpeed: 100,
    backSpeed: 100,
    backDelay: 800,
    loop: true,
    loopCount: Infinity
    };

    var typed = new Typed('#type', options);
</script>
</html>