<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop More Express - Contact Us</title>
    <%- include('partials/head-links') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <section class="my-5 pt-5">
        <header class="pt-sm-5">
            <h1 class=" text-center my-md-5 mt-5 mb-4 fw-bold bigger4">Support</h1>
        </header>
        <div class="container-fluid p-md-5 px-4 py-2">
           <div class="row g-3">
            <div class="col-md-4 col-12">
                <a class="card support-card h-100" href="tel:+2347062107806" style="text-decoration: none;">
                    <div class="card-body row text-md-center py-4">
                        <p class="col-md-12 col-2 mt-3 ps-4 ps-md-0 fs-2"><i class="bi bi-telephone-fill support-logo p-3"></i></p>
                        <div class="col-md-12 col-10 ps-5 ps-md-0">
                            <p class="mb-2 fw-bold fs-3">Call Us</p>
                            <p class="mb-0 fw-small">9AM-5PM,M-F</p>
                            <!-- <p class="fw-small">+23400000000</p> -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-12">
                <a class="card support-card h-100" href="" style="text-decoration: none;">
                    <div class="card-body row text-md-center py-4">
                        <p class="col-md-12 col-2 mt-3 ps-4 ps-md-0 fs-2"><i class="bi bi-chat-text-fill support-logo p-3"></i></p>
                        <div class="col-md-12 col-10 ps-5 ps-md-0">
                            <p class="mb-2 fw-bold fs-3">Chat Us</p>
                            <p class="mb-0 fw-small">9AM-5PM,M-F</p>
                            <!-- <p class="fw-small">+23400000000</p> -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-12">
                <a class="card support-card h-100" href="mailto:mail@shopmoreexpress.com?subject=Support%20Request" style="text-decoration: none;">
                    <div class="card-body row text-md-center py-4">
                        <p class="col-md-12 col-2 mt-3 ps-4 fs-2 ps-md-0"><i class="bi bi-envelope-at-fill support-logo p-3"></i></p>
                        <div class="col-md-12 col-10 ps-5 ps-md-0">
                            <p class="mb-2 fw-bold fs-3">Email Us</p>
                            <p class="mb-0 fw-small">Always available</p>
                            <!-- <p class="fw-small">+23400000000</p> -->
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12">
                <a class="card support-card h-100" href="/faq" style="text-decoration: none;">
                    <div class="card-body row text-md-center py-4">
                        <p class="col-md-12 col-2 mt-3 ps-4 fs-2 ps-md-0"><i class="bi bi-question-lg support-logo p-3"></i></p>
                        <div class="col-md-12 col-10  ps-5 ps-md-0">
                            <p class="mb-2 fw-bold fs-3">Frequently Asked Questions</p>
                            <!-- <p class="fw-small">+23400000000</p> -->
                        </div>
                    </div>
                </a>
            </div>
           </div>
        </div>
    </section>
    <%- include('partials/button') %>
    <%- include('partials/footer') %>
</body>
</html>