<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop More Express - Ready As The Wind</title>
    <%- include('partials/head-links') %>
</head>
<body ontouchstart="">
    <%- include('partials/navbar') %>
    <div class="modal fade" id="staticBackdrop"  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body waitlist-modal">
                <div class="success"><h2 class="primcol fw-bold text-center">You have successfully registered!!</h2></div>
                <form id="form">
                    <div class="mb-3">
                        <label for="FormControlInput1" class="form-label name" >Name</label>
                        <input type="text" class="form-control" id="FormControlInput1" placeholder="Please input your name" name="name" required>
                      </div>
                    <div class="mb-3">
                        <label for="FormControlInput2" class="form-label email">Email address</label>
                        <input type="email" class="form-control" id="FormControlInput2" placeholder="name@example.com" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput3" class="form-label phone">Phone Number</label>
                        <input type="tel" class="form-control" id="exampleFormControlInput3" placeholder="+2340000000000" name="phone" required>
                    </div>
                    <div class="mb-3">
                        <label for="select" class="form-label">Role</label>
                        <select class="form-select role" aria-label="Default select example" id="select" name="role">
                            <option selected>Choose a Role</option>
                            <option value="driver">Driver</option>
                            <option value="customer">Customer</option>
                        </select>
                        <p class="roleError text-danger fw-bold ps-2 mt-1">Please Select a Role</p>
                    </div>
                    

                    
                    <button type="submit" id="join" class="btn btn-warning fw-bold mt-3" style="color: #032c63;">Join Waitlist</button>
                </form>
            </div>
          </div>
        </div>
    </div>
    <section class="my-5 pt-3 px-0 container-fluid">
        <div class="row m-0 p-lg-0 pt-5" style="background-color: rgb(2, 17, 37);">
            <div class="col-12 col-lg-5 pt-lg-4 pb-lg-0 pb-5 px-4 px-sm-3 pt-3">
                <h1 class="bigger3 px-xl-5 pt-xl-5 px-lg-3 pb-3 pb-lg-0 ">One App for all your  <span id="type" class="primcol"></span></h1>
                <p class="fs-5 px-xl-5 px-lg-3 pt-xl-5 pb-lg-0 mb-0">Coming soon...</p>
                <p class="px-xl-5 px-lg-3 pb-3 pb-lg-0">Be the first to be notified</p>
                <a href="" class="btn btn-warning fw-bold mx-xl-5 mx-lg-3 mb-lg-3 mt-3 mb-3 mt-xl-4 animate" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color: rgb(3, 45, 99);">Join Waitlist</a>
            </div>
            <div class="col-12 col-lg p-0 m-0 img-gradient">
                <img src="/assets/images/Sm 15.jpg" alt="" class="img-fluid">
            </div>
        </div>
        
        <div class="container-fluid mt-5 p-5">
            <h1 class="py-3 fw-bold pt-5">The ShopMore Express App makes sure that you can do everything on one platform.</h1>
            <div class="row g-5 py-5">
                <div class="col-12 col-md">
                    <h2 class="fw-semibold">All Deliveries in One App</h2>
                    <p class="fw-small">Downloading multiple apps to get multiple delivery types done is now a thing of the past.</p>
                </div>
                <div class="col-12 col-md">
                    <h2 class="fw-semibold">Pilot Tracking</h2>
                    <p class="fw-small">Watch your items go from pick up to delivery in real time! You can also share the tracking link with your customers.</p>
                </div>
                <div class="col-12 col-md">
                    <h2 class="fw-semibold">Multi-point Deliveries</h2>
                    <p class="fw-small">Got a lot of items to send out? You can use one pilot to make all your deliveries.</p>
                </div>
            </div>
            <div class="row g-5">
                <div class="col-12 col-md">
                    <h2 class="fw-semibold">Schedule Pickup</h2>
                    <p class="fw-small">Need to have your item picked up at a specific time? We've got that covered.
                    </p>
                </div>
                <div class="col-12 col-md">
                    <h2 class="fw-semibold">Resend Orders</h2>
                    <p class="fw-small">Think you've made an order before? It wasn't deja vu - our order resend feature is proof of that. Make it again without having to fill those details right from the start.</p>
                </div>
                <div class="col-12 col-md">
                    <h2 class="fw-semibold">Saved Adresses</h2>
                    <p class="fw-small">You can save your addresses for next time, so you won't have to type it again. Just tap and keep things moving.</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a href="" class="btn btn-warning btn-lg fw-bold mb-lg-3 mt-3 mb-3 animate" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="color: rgb(3, 45, 99);">Join Waitlist</a>
        </div>
    </section>

    <%- include('partials/button') %>
    <%- include('partials/footer') %>

</body>
<script>
    var options = {
    strings: ['Deliveries', 'Errands', 'Dropoffs', 'Pickups'],
    typeSpeed: 100,
    backSpeed: 100,
    backDelay: 800,
    loop: true,
    loopCount: Infinity,
    showCursor: false
    };

    var typed = new Typed('#type', options);

    const form = document.getElementById('form');
    let roleError = document.querySelector('.roleError')
    let success = document.querySelector('.success')
    roleError.style.display = 'none'
    success.style.display = 'none'

    form.addEventListener('submit', (e)=>{
        e.preventDefault()
        let role = document.querySelector('.role').value
        // console.log(role)
        if (role == 'Choose a Role'){
            roleError.style.display = 'block'
        } else{
            roleError.style.display = 'none'
            const formData = new FormData(form);
            const payload = new URLSearchParams(formData);

            fetch('/waitlist',{
                method: 'POST',
                body: payload
            }).then(res => res.json())

            form.style.display = 'none'
            success.style.display = 'block'
        }

    })
</script>
</html>