.nav-img{
    scale: 0.9;
}

.offcanvas{
    --bs-offcanvas-width:75%;
    font-size: 18px;
}

.intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.493)), url('/assets/images/Sm\ 5.jpg');
    height: 650px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .seccol2{
    color: #032c63;
} */

.bigger, .bigger3{
    font-size: 40px;
}

.bigger1{
    font-size: 30px;
}


.quote-txt{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.reduce{
    margin-bottom: 0;
}
.img-gradient{
    position: relative;
}
.img-gradient2{
    position: relative;
}
.img-gradient::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(rgb(2, 17, 37),rgba(2, 17, 37, 0.548), rgba(0, 0, 0, 0.11));
}
.img-gradient2::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    /* background: linear-gradient(rgb(1, 21, 49),rgba(1, 21, 49, 0.719), rgba(0, 0, 0, 0.11)); */
}

.fw-small2{
    font-size: 15px;
    font-weight: 100;
}

.animate:hover{
    transition-duration: 0.1s;
    background-color: #d39907;
    color: #032c63;
    scale: 1.05;
    border-color: #d39907;
}

.animate:active {
    scale: 0.94;
    color: #032c63;
}

.iconic{
    transition: all 0.1s;
    -webkit-transition:all 0.1s;
}
.facebook:hover{
    background-position: 0 0px;
}
.facebook:active{
    background-position: 0 -25px;
}
.twitter:hover{
    background-position: -25px 0px;
}
.twitter:active{
    background-position: -25px -25px;
}
.linkedin:hover{
    background-position: -50px 0px;
}
.linkedin:active{
    background-position: -50px -25px;
}
.instagram:hover{
    background-position: -75px 0px;
}
.instagram:active{
    background-position: -75px -25px;
}