.nav-img{
    scale: 0.9;
}

.offcanvas{
    --bs-offcanvas-width:75%;
    font-size: 18px;
}

.intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0.493)), url('/assets/images/Sm\ 5.jpg');
    height: 650px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .seccol2{
    color: #032c63;
} */

.bigger, .bigger3{
    font-size: 40px;
}

.bigger1{
    font-size: 30px;
}


.quote-txt{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.reduce{
    margin-bottom: 0;
}
.img-gradient::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(rgb(2, 17, 37),rgba(2, 17, 37, 0.548), rgba(0, 0, 0, 0.11));
}
.img-gradient2::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(rgb(0, 14, 33),rgba(0, 14, 33, 0.719), rgba(0, 14, 33, 0)), rgba(0, 0, 0, 0.514);
}