body,html{
    background-color: rgb(1, 9, 20);
    color: aliceblue;
    font-family: 'Gantari', sans-serif;
    height: 100%;
}

.nav-img{
    width: 150px;
    height: auto;
}

.navbar-custom{
    /* border-bottom: 1px solid rgb(2, 44, 44); */
    background-color: rgba(255, 184, 3, 0.95) !important;
    font-weight: 600;
    /* box-sizing: border-box; */
}

.custom-toggler .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(3, 44, 99)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler{
    border: 0px !important;
}



.offcanvas{
    --bs-offcanvas-width:60%;
    background-color:#010c1d;
    --bs-offcanvas-height: 100%;
}

.nav-link{
    color: #032c63;
}

.nav-link:hover{
    scale: 1.3;
    color: #032c63;
}
.img-gradient, .img-gradient2{
    position: relative
}

.img-gradient::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(to right, rgb(2, 17, 37),rgba(2, 17, 37, 0.918),rgba(2, 17, 37, 0.548), rgba(0, 0, 0, 0.514));
}
.img-gradient2::after{
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(to right, rgb(1, 21, 49),rgba(1, 21, 49, 0.719), rgba(1, 21, 49, 0)), rgba(0, 0, 0, 0.514);
}

@media screen and (max-width : 992px){
    .offcanvas{
        font-size: 20px;
    }

    .nav-link {
        color: rgb(255, 183, 3);
    }

    .nav-link:hover{
        scale: 1;
        color: rgb(245, 219, 153);
    }

    .img-gradient{
        position: relative;
    }
    .img-gradient::after{
        content: '';
        position: absolute;
        left: 0; top: 0;
        width: 100%; height: 100%;
        background: linear-gradient(rgb(2, 17, 37),rgba(2, 17, 37, 0.548), rgba(0, 0, 0, 0.11));
    }
    .img-gradient2::after{
        content: '';
        /* position: absolute; */
        left: 0; top: 0;
        width: 100%; height: 100%;
        background: linear-gradient(rgb(1, 21, 49),rgba(1, 21, 49, 0.719), rgba(1, 21, 49, 0)), rgba(0, 0, 0, 0.514);
    }

}

.contact{
    margin-top: auto;
}

.btn-close{
    /* --bs-btn-close-color: #ffb703 !important; */
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(255, 193, 38)'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") !important ;
}

.primcol{
    color: #ffb703;
}

.seccol{
    color: #032c63;
}

.bigger, .quote-txt{
    font-size: 50px;
    font-weight: 700;
}



.intro{
    background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.24)), url('/assets/images/Sm\ 4.jpg');
    height: 100dvh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.quote-img{
    border-radius: 20px;
    width: 100%;
}

.gradient{
    background-image: linear-gradient(#010914, #ffb80396, #032d63af, #032c63, #010914);
    /* height: 200px; */
    color: rgb(255, 255, 255);
}

.deliver, .app{
    background-color: rgb(1, 21, 49);
}

.design{
    width: 10rem;
    height: 100%;
    font-size: 20px;
    font-weight: 600;
    /* color: #010e201e; */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(245, 241, 241, 0.233), 0 6px 20px 0 rgba(250, 247, 247, 0.384);
}

.design2{
    width: 20rem;
    height: 100%;

}

.img-top1{
     transform: translate(-50%,-75%)!important;
    
}
.img-top2{
     transform: translate(-50%,-72%)!important;
}
.img-top3{
     transform: translate(-50%,-87%)!important;
}

.size{
    width: 180px;
    /* height: 100px; */
}

.increase:hover{
    scale: 1.1;
}

.my-10{
    margin-top: 60px;
    margin-bottom: 90px;
}

footer{
    background-color: hsla(214, 94%, 20%, 0.192);
    font-size: 13px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: lighter;
}

.iconic{
    display: inline-block;
    max-width: 25px;
    width: 100%;
    min-height: 25px;
    background: url('/assets/images/bg-icon.webp') no-repeat scroll 0 0;
    vertical-align: middle;
    transition: all .5s;
}
.facebook{
    background-position: 0 0;
    scale: 1.2;
}
.facebook:hover{
    background-position: 0 -25px;
}
.twitter{
    background-position: -25px 0;
    scale: 1.2;
}
.twitter:hover{
    background-position: -25px -25px;
}
.linkedin{
    background-position: -50px 0;
    scale: 1.2;
}
.linkedin:hover{
    background-position: -50px -25px;
}
.instagram{
    background-position: -75px 0;
    scale: 1.2;
}
.instagram:hover{
    background-position: -75px -25px;
}

.line{
    border: 1px white solid;
}

.footer-link{
    text-decoration: none;
    color: white;
}
.footer-link:hover{
    color: #ffb703;
}

.fw-small{
    font-size: 15px;
}
.fw-small2{
    font-size: 20px;
}

.support-card{
    background-color: #032d638f;
    color: #ffffff;
    border-radius: 20px;
}
.support-card:hover{
    scale: 0.97; 
}

.support-logo{
    background-color: rgb(3, 45, 99);
    border-radius: 50%;
}

.bigger3{
    font-size: 60px;
    font-weight: 600;
}

.animate{
    user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.animate:hover{
    transition-duration: 0.1s;
    background-color: #d39907;
    color: #032c63;
    scale: 1.03;
    border-color: #d39907;
}

.animate:active {
    scale: 0.98;
    color: #032c63;
}

.bottom{
    position: fixed;
    right: 20px;
    bottom: 30px;
}

.btn-custom{
    border-radius: 35px 35px 8px 35px;
    font-size: 30px;
}

.founder-img{
    border-radius: 50%;
}

.founder-quote{
    font-size: 1.25rem;
}

.waitlist-modal{
    color: whitesmoke;
    background-color: #032c63;
}